<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Author: {{book.author}}</p>
  <p>
   
    <p class="genre">{{genre}}</p>

  </p>
  <p>
    <button class="btn btn-primary">Review!</button>
  </p>
</div>
